<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>

    <script src="/js/home/login.js" defer></script>
</head>
<body>
    <input id="id" type="text"><br>
    <input id="psword" type="text"><br>
    <button>login</button>
</body>
</html>